.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    height: 100vh;
    row-gap: 64px;

    &-interaction{
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    }
}