.primary-button{
    background-color: #D67E20;
    padding: 8px;
    color: white;
}

.primary-button:hover{
    background-color: #854E14;
    color: white;
    cursor: pointer;
}

.primary-button:active{
    background-color: #5C360E;
    color: white;
    cursor: pointer;
}